.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-main {
    margin-top: 30px;
    border: 1px solid lightgray;
    padding: 20px;
}

.left-box-lightblue, .left-box-lightcoral, .left-box-lightseagreen {
    height: 500px;
    min-height: 500px;
    margin-top: 20px;
    padding-top: 10px;
}

.left-box-lightblue {
    background-color: lightblue;
    margin-top: 0px;
}

.left-box-lightcoral {
    background-color: lightcoral;
}

.left-box-lightseagreen {
    background-color: lightseagreen;
}

.add-bottom-line {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.add-bottom-line button {
    margin-right: 10px;
}

.set-border {
    border: 1px solid lightgray;
    padding: 20px;
}

.set-border button {
    font-size: 12px;
    margin-top: 41px;
}

.set-border label {
    font-size: 12px;
}

.range-label {
    display: inherit;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

label {
    font-size: 12px;
}

.btn {
    font-size: 12px;
}

input[type=checkbox], input[type=radio] {
    margin-right: 10px;
}

.text-center button {
    margin-top: 10px;
}

.left-box-heatmap {
    margin-top: 40px;
    height: 500px;
    width: 550px;
    background-image: url("../public/14-map-poland-political.jpg");
    margin-bottom: 30px;
}

.time-range .range-label {
    font-size: 20px;
}